<!DOCTYPE html>
<html lang="en">

<head>
    <title>Top 10 colors</title>
    <link href="static/css/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-image: url('static/assets/img/bg-masthead.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body>
    <div class="img_content">
        <h1>Get the top 10 colors of your image</h1>
        <button type="submit">Browse</button>
        <br>
        <img src="static/raccoon.jpg" alt="your image">
    </div>
    <div class="colors">
        <table>
            {% for color in hex_list %}
            <th>
                <div class="box" style="background-color: {{ color }};">{{color}}</div>
            </th>
            {% endfor %}

        </table>
    </div>
</body>









</html>